.substrate
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  height: calc(100vh - 75px)
.gameBackground
  background-color: #2d3e4f
  border-radius: 20px
  height: auto
  width: 400px
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  >span:nth-child(1)
    height: 70px
    width: 100%
    color: white
    font-family: 'Play', sans-serif
    font-weight: bold
    text-transform: uppercase
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    display: flex
    align-items: center
    justify-content: center
  .restart
    height: 70px
    width: 100%
    color: white
    font-family: 'Play', sans-serif
    font-weight: bold
    text-transform: uppercase
    cursor: pointer
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    background-color: transparent
    transition: background-color .15s ease
    display: flex
    align-items: center
    justify-content: center
    &:hover
      background-color: #599ecc
  .restartActive
    height: 70px
    width: 100%
    color: white
    background-color: #599ecc
    font-family: 'Play', sans-serif
    font-weight: bold
    text-transform: uppercase
    cursor: pointer
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    transition: background-color .15s ease
    display: flex
    align-items: center
    justify-content: center
    animation: strike 1s
    &:hover
      background-color: #3b8bc1
.layout
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  gap: 9px
  position: relative
  &:before
    content: ''
    display: none
    position: absolute
    z-index: 3
    width: 100%
    height: 5px
    background: #8bd473
    border-radius: 2px
.win012
  &:before
    display: block
    width: 80%
    top: 16%
    left: 10%
.win345
  &:before
    display: block
    width: 80%
    top: 50%
    left: 10%
.win678
  &:before
    display: block
    width: 80%
    top: 83%
    left: 10%
.win036
  &:before
    display: block
    width: 80%
    top: 50%
    left: -24%
    transform: rotate(90deg)
.win147
  &:before
    display: block
    width: 80%
    top: 50%
    left: 10%
    transform: rotate(90deg)
.win258
  &:before
    display: block
    width: 80%
    top: 50%
    left: 44%
    transform: rotate(90deg)
.win048
  &:before
    display: block
    top: 50%
    left: 0
    transform: rotate(45deg)
.win246
  &:before
    display: block
    top: 50%
    left: 0
    transform: rotate(-45deg)




